.header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: #282c34;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-left: 15px;
    padding-right: 15px;
  }

  .header h1 {
      margin: 0;
  }

  .logo {
      width: 40px;
      height: 40px;
      margin-right: 8px;
  }

  .text {
    padding: 0;
    margin-top: -9px;
  }