.navbar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item {
    cursor: pointer;
}

.item:hover {
    color: orange;
}

.item.active {
    color: red;
}